.register{
    fieldset{
    form{
         border : 50px solid;
         border-style: inset;
        label{
           display : inline-block;
           width : 90px;
           text-align : rigth;
        }
        input{
            
        }
    }

 }     
}